<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OmenHubLighter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="OmenHubLighter.Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OmenHubLighter.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="OmenHubLighter.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
  <OmenHubLighter.Settings>
   <setting name="Setting" serializeAs="String">
    <value />
   </setting>
  </OmenHubLighter.Settings>
 </applicationSettings>
 <userSettings>
  <OmenHubLighter.Properties.Settings>
   <setting name="UseOmenAlternateKey" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="fanMax" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="fanOff" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseOmenKeyExecute" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExecutePath" serializeAs="String">
    <value />
   </setting>
   <setting name="ExecuteArguments" serializeAs="String">
    <value />
   </setting>
   <setting name="RunAtStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FirstStart" serializeAs="String">
    <value>True</value>
   </setting>
  </OmenHubLighter.Properties.Settings>
 </userSettings>
</configuration>